<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Jenkins User</title>
</head>
<body>
    <h1>Create Jenkins User</h1>
    <form method="post">
        <label>Enter your first name:</label>
        <input type="text" name="username" placeholder="Enter your user name" required><br>
        <label>Enter your last name:</label>
        <input type="password" name="password" placeholder="Enter your password" required><br>
        <label>Enter Email:</label>
        <input type="mail" name="mail" placeholder="Enter your Mail" required><br>
        <label>Enter your full name:</label>
        <input type="text" name="fullname" placeholder="Enter your full name" required><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
